USE [master]
GO
/****** Object:  Database [BookShopDB]    Script Date: 4/27/2022 11:51:17 PM ******/
CREATE DATABASE [BookShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookShopDB_Data', FILENAME = N'F:\BOOK SHOP\DB\BookShopDB_Data.mdf' , SIZE = 25600KB , MAXSIZE = 102400KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BookShopDB_Log', FILENAME = N'F:\BOOK SHOP\DB\BookShopDB_Log.ldf' , SIZE = 25600KB , MAXSIZE = 102400KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookShopDB]
GO
/****** Object:  Table [dbo].[tblAuthors]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAuthors](
	[authorID] [int] IDENTITY(1,1) NOT NULL,
	[authorName] [nvarchar](75) NOT NULL,
	[genderID] [int] NULL,
	[authorEmail] [nvarchar](50) NULL,
	[authorPhone] [nvarchar](50) NULL,
	[authorImage] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[authorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[authorEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBookCategory]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBookCategory](
	[categoryID] [int] NOT NULL,
	[categoryType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBooks]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBooks](
	[bookID] [int] IDENTITY(1,1) NOT NULL,
	[authorID] [int] NULL,
	[publisherID] [int] NULL,
	[bookName] [nvarchar](75) NOT NULL,
	[categoryID] [int] NULL,
	[bookPrice] [smallmoney] NOT NULL,
	[bookImage] [varbinary](max) NULL,
	[bookAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](75) NOT NULL,
	[genderID] [int] NULL,
	[customerLocation] [nvarchar](75) NOT NULL,
	[customerEmail] [nvarchar](50) NULL,
	[customerPhone] [nchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[customerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGender]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGender](
	[genderID] [int] NOT NULL,
	[genderType] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPublishers]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPublishers](
	[publisherID] [int] IDENTITY(1,1) NOT NULL,
	[publisherName] [nvarchar](75) NOT NULL,
	[publisherAddress] [nvarchar](150) NOT NULL,
	[publisherEmail] [nvarchar](30) NULL,
	[publisherPhone] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[publisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblsells]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblsells](
	[sellID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[bookID] [int] NOT NULL,
	[sellDate] [datetime] NULL,
	[sellPrice] [smallmoney] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 4/27/2022 11:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[userName] [nvarchar](20) NOT NULL,
	[userPassword] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBooks] ADD  DEFAULT ((1)) FOR [bookAvailable]
GO
ALTER TABLE [dbo].[tblsells] ADD  DEFAULT (getdate()) FOR [sellDate]
GO
ALTER TABLE [dbo].[tblAuthors]  WITH CHECK ADD FOREIGN KEY([genderID])
REFERENCES [dbo].[tblGender] ([genderID])
GO
ALTER TABLE [dbo].[tblBooks]  WITH CHECK ADD FOREIGN KEY([authorID])
REFERENCES [dbo].[tblAuthors] ([authorID])
GO
ALTER TABLE [dbo].[tblBooks]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblBookCategory] ([categoryID])
GO
ALTER TABLE [dbo].[tblBooks]  WITH CHECK ADD FOREIGN KEY([publisherID])
REFERENCES [dbo].[tblPublishers] ([publisherID])
GO
ALTER TABLE [dbo].[tblCustomers]  WITH CHECK ADD FOREIGN KEY([genderID])
REFERENCES [dbo].[tblGender] ([genderID])
GO
ALTER TABLE [dbo].[tblsells]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[tblBooks] ([bookID])
GO
ALTER TABLE [dbo].[tblsells]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[tblCustomers] ([customerID])
GO
USE [master]
GO
